/* Шрифты */

@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 300;
	src: url("../fonts/opensanslight.woff2") format("woff2"), url("../fonts/opensanslight.woff") format("woff");
}

@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 400;
	src: url("../fonts/opensans.woff2") format("woff2"), url("../fonts/opensans.woff") format("woff");
}

@font-face {
	font-family: "Gilroy";
	font-style: normal;
	font-weight: 300;
	src: url("../fonts/gilroylight.woff2") format("woff2"), url("../fonts/gilroylight.woff") format("woff");
}

@font-face {
	font-family: "Gilroy";
	font-style: normal;
	font-weight: 800;
	src: url("../fonts/gilroyextrabold.woff2") format("woff2"), url("../fonts/gilroyextrabold.woff") format("woff");
}

/* Переменные */

:root {
	--basic-black: #000000;
	--basic-dark: #363636;
	--basic-grey: #464646;
	--basic-half-grey: #7e7e7e;
	--basic-grey-light: #e5e5e5;
	--basic-white: #ffffff;

	--white-alpha-3: rgba(255, 255, 255, 0.3);
	--black-alpha-3: rgba(0, 0, 0, 0.3);

	--special-yellow-dark: #f0c52e;
	--special-yellow: #f7e296;

	--special-green: #91c92f;
}

/* Глобальные стили */

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	padding: 0;
	margin: 0;

	font-family: 'Open Sans', Arial, sans-serif;
	font-size: 15px;
	font-weight: 300;
	line-height: 20px;
}

a {
	color: var(--basic-black);
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}

.list-reset {
	padding: 0;
	margin: 0;

	list-style: none;
}

.visually-hidden {
	position: absolute;

	width: 1px;
	height: 1px;
	border: 0;
	padding: 0;
	margin: -1px;

	white-space: nowrap;

	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.link {
	font-family: "Gilroy";
	font-weight: 800;
	font-size: 18px;
	line-height: 22px;
	letter-spacing: 0.2em;
	text-transform: uppercase;
}

.container {
	width: 1160px;
	margin: 0 auto;
}

.top-container {
	width: 1040px;
	margin: 0 auto;
}

.mini-container {
	width: 500px;
}

/* Grid */

html {
	height: 100%;
}

.page {
	min-height: 100%;

	display: grid;
	grid-template-rows: min-content 1fr min-content;
	align-content: start;
}

/* Index.html */

/* Header */

.page-header {
	background-color: var(--special-yellow);

	padding-bottom: 50px;
	margin-top: 40px;
}

/* Лого */

.top-logo {
	margin-top: -20px;
}

.logo-wrapper[href]:hover {
	opacity: 0.6;
}

.logo-wrapper[href]:active {
	opacity: 0.3;
}

/* Header-top */

.header-top {
	display: flex;
	justify-content: space-between;

	padding-top: 24px;
	margin-bottom: 48px;
}

.search__input {
	background-color: transparent;

	border: 0;
	padding-left: 37px;
}

.search__input::placeholder {
	opacity: 0.3;
}

.search__input:hover::placeholder {
	opacity: 0.6;
}

.search__btn {
	display: none;

	background-color: transparent;
	font-weight: 300;
	text-transform: uppercase;

	border: 2px solid var(--basic-black);
}

.search__btn:hover {
	background-color: var(--basic-black);
	color: var(--basic-white);
}

.search__btn:active {
	color: var(--white-alpha-3);
}

.header-top__menu {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.header-top__list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.header-top__list a:hover {
	opacity: 0.6;
}

.header-top__list a:active {
	opacity: 0.3;
}

.header-top__item {
	padding-left: 24px;
}

.header-top__list .cart {
	margin-left: 41px;
}

/* Nav */

.nav__list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.nav__list a[href]:hover {
	opacity: 0.6;
}

.nav__list a[href]:active {
	opacity: 0.3;
}

.nav__item--catalog .dropdown {
	letter-spacing: 0.1em;

	padding-right: 38px;
}

.dropdown:hover {
	opacity: 0.6;
	cursor: pointer;
}

.dropdown:active {
	opacity: 0.3;
}

.dropdown__wrapper {
	display: none;
}

.dropdown:hover + .dropdown__wrapper,
.dropdown__wrapper:hover {
	width: 525px;

	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.dropdown__list {
	padding-top: 14px;
}

.dropdown__item {
	padding-top: 16px;
}

.nav__list .mini-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.nav__item--delivery {
	margin-right: 35px;
}

.nav__item--contacts {
	margin-left: auto;
}

/* Промо Слайдеры */

.slider {
	font-family: "Gilroy";
	font-weight: 300;
}

.slider__controls {
	display: none;
}

.slider__item {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.slide-two,
.slide-three {
	display: none;
}

.slider__title {
	font-weight: 800;
	font-size: 47px;
	line-height: 58px;
}

.slider__txt {
	font-family: "Open Sans";

	margin-bottom: 60px;
}

.slider__link {
	background-color: var(--special-yellow-dark);
}

.slider__link:active {
	color: var(--black-alpha-3);
}

.specs {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;

	margin-top: 60px;

	letter-spacing: 0.1em;
}

.specs__key {
	font-size: 13px;
	line-height: 15px;
}

.specs__value {
	font-size: 36px;
	line-height: 42px;
}

/* Популярные разделы */

.popular {
	font-family: "Gilroy";
	font-weight: 800;
	font-size: 18px;
	line-height: 22px;
	letter-spacing: 0.05em;

	margin-top: 76px;
}

.popular__list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

.popular__item {
	flex-basis: 160px;
}

/* Временные стили */
.popular__img-wrapper {
	width: 160px;
	height: 160px;

	display: flex;
}

.popular__img-wrapper img {
	margin: auto;
}
/* -------------------- */

.popular__link:active {
	opacity: 0.3;
}

/* Сервисы */

.services {
	background-color: var(--basic-grey-light);

	margin-top: 49px;
}

.services__container {
	display: flex;
	justify-content: space-between;
	align-items: center;

	padding-bottom: 68px;
}

.services__controls {
	flex-basis: 284px;
	border-right: 4px solid var(--basic-black);
}

.services__controls-btn {
	background-color: var(--special-yellow-dark);

	border: 0;
	margin-bottom: 30px;
}

.services__controls-btn:active {
	background-color: var(--basic-black);
	color: var(--special-yellow);
}

.services__block {
	padding-left: 116px;
	padding-right: 260px;
}

.services__block--garanty,
.services__block--credits {
	display: none;
}

.title {
	font-family: "Gilroy";
	font-weight: 800;
	font-size: 47px;
	line-height: 58px;
	letter-spacing: 0.2em;
}

.services__txt {
	line-height: 28px;
	letter-spacing: 0.1em;
}

.services__controls-btn--active {
	background-color: var(--basic-black);
	color: var(--special-yellow);
}

/* Бренды */

.pop-brands {
	margin-top: 90px;
}

.pop-brands__list {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
}

.pop-brands__item img {
	filter: grayscale(1) opacity(0.2);
}

.pop-brands__item img:hover {
	filter: none;
}

/* О нас */

.about-contacts-wrapper {
	display: grid;
	grid-template-columns: 1fr 1fr;

	margin-top: 90px;
}

.about__txt {
	line-height: 28px;
}

.about__list {
	font-family: "Gilroy";
	font-weight: 800;
	font-size: 16px;
	line-height: 28px;

	margin-top: 60px;
	margin-bottom: 84px;
}

.about__link {
	background-color: var(--special-yellow-dark);
}

.about__link:active {
	color: var(--black-alpha-3);
}

/* Контакты */

.contacts {
	padding-left: 20px;
}

.contacts__txt {
	line-height: 28px;
}

.contacts__map-link img {
	display: block;

	margin-bottom: 62px;
}

.contacts__link {
	background-color: var(--special-yellow-dark);
}

.contacts__link:active {
	color: var(--black-alpha-3);
}

/* Footer */

.page-footer {
	position: relative;

	background-color: var(--basic-dark);
	color: var(--basic-white);

	padding-top: 46px;
	padding-bottom: 64px;
}

.page-footer a {
	color: inherit;
}

.footer-logo {
	position: absolute;
	top: 65px;
}

.footer-top__menu {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
}

.footer-top__menu a {
	opacity: 0.7;
}

.footer-top__menu a:hover {
	opacity: 1;
}

.footer-center__list a:hover {
	opacity: 0.6;
}

.footer-top__menu a:active,
.footer-center__list a:active {
	opacity: 0.3;
}

.footer-top__list {
	display: flex;
	flex-wrap: wrap;
	flex-basis: 224px;
	justify-content: space-between;
}

.footer-top__list.footer-top__list--login {
	justify-content: flex-end;

	margin-right: 32px;
}

.footer-top__item {
	padding-left: 24px;
}

.footer-top__list .compare {
	margin-left: 9px;
}

.footer-center {
	display: flex;
	justify-content: space-between;

	margin-top: 58px;
}

.footer-center__list {
	width: 460px;

	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

.footer-center__item--contacts {
	padding-right: 35px;
}

.footer-bottom {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

	margin-top: 52px;
}

.social {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	margin-left: auto;
}

.social__item {
	padding-left: 20px;
}

.copyright {
	margin-left: auto;
}

.copyright:hover {
	opacity: 0.6;
}

.copyright:active {
	opacity: 0.3;
}

/* Напишите Нам - modal */

.write-us {
	display: none;
}

/* Map - pop-up */

.map {
	display: none;
}

/* Catalog.html */

/* Header */

.page-header .exit {
	opacity: 0.3;
}

.page-header .exit:hover {
	opacity: 0.7;
}

.page-header .exit:active {
	opacity: 1;
}

/* Page Content */

.page-title {
	font-family: "Gilroy";
	font-weight: 800;
	font-size: 47px;
	line-height: 58px;
}

.breadcrumbs {
	font-size: 14px;
	line-height: 19px;
	opacity: 0.3;

	display: flex;
	flex-wrap: wrap;
}

.breadcrumbs__item {
	padding-right: 40px;
}

.breadcrumbs a[href]:hover {
	opacity: 0.6;
}

.breadcrumbs a[href]:active {
	opacity: 0.1;
}

/* Products Layout */

.products-wrapper {
	display: flex;

	margin-top: 50px;
}

/* Фильтр */

.filter {
	background-color: var(--basic-grey-light);

	flex-basis: 330px;

	padding-left: 60px;
	padding-right: 70px;
}

.filter__title {
	font-family: "Gilroy";
	font-weight: 800;
	font-size: 16px;
	line-height: 20px;
	letter-spacing: 0.1em;
	text-transform: uppercase;

	padding-top: 25px;
	padding-bottom: 25px;
	margin: 0;
}

.filter__form fieldset {
	border: 0;
	border-top: 2px solid var(--basic-black);
	padding: 0;
	margin-bottom: 38px;
}

.filter__form legend {
	float: left;

	padding-top: 14px;
	padding-bottom: 30px;
}

.filter__form legend + * {
	clear: both;
}

.filter__form .filter__price {
	margin-top: 70px;
}

.filter__form .filter__bluetooth {
	margin-bottom: 50px;
}

.filter__name {
	font-family: "Gilroy";
	font-weight: 800;
	font-size: 14px;
	line-height: 17px;
	letter-spacing: 0.1em;
}

.input-range__field {
	font-family: "Gilroy";
	font-weight: 300;
	font-size: 14px;
	line-height: 16px;
}

.filter__list {
	font-size: 14px;
	line-height: 19px;
}

.filter__label {
	cursor: pointer;
}

.filter__submit {
	background-color: var(--special-yellow-dark);
	border: 0;
	cursor: pointer;
}

.filter__submit:active {
	color: var(--black-alpha-3);
}

/* Сортировка */

.products__sort-area {
	background-color: var(--basic-grey-light);

	display: flex;
	justify-content: space-between;
	align-items: center;
}

.sort__title {
	font-family: "Gilroy";
	font-weight: 800;
	font-size: 16px;
	line-height: 20px;
	letter-spacing: 0.1em;
	text-transform: uppercase;

	padding-top: 25px;
	padding-bottom: 25px;
	padding-left: 70px;
	margin: 0;
}

.sort__list {
	display: flex;
}

.sort__item button {
	border: 0;
	background-color: transparent;
	font-size: 14px;
	line-height: 19px;
	opacity: 0.3;
	cursor: pointer;
}

.sort__item button:not(.active-btn):hover {
	opacity: 0.6;
}

.sort__item button:not(.active-btn):active {
	opacity: 1;
}

.sort__item .active-btn {
	opacity: 1;
}

/* Товары */

.products {
	flex-grow: 1;
}

.products__list {
	display: grid;
	grid-template-columns: 1fr 1fr;
	justify-items: start;
	column-gap: 40px;
	row-gap: 48px;

	margin-top: 70px;
	margin-left: 70px;
}

.products__txt-wrapper {
	font-family: "Gilroy";
	letter-spacing: 0.05em;

	display: flex;
	justify-content: space-between;
	align-items: center;
}

.products__title {
	font-weight: 800;
	font-size: 18px;
	line-height: 22px;
}

.products__price {
	font-weight: 300;
	font-size: 16px;
	line-height: 18px;

	margin: 0;
}

.products__hover {
	display: none;
}

.products__item:hover .products__img-wrapper {
	opacity: 0.7;
}

.products__hover-cart {
	background-color: var(--special-yellow-dark);
}

.products__hover-cart:active {
	color: var(--black-alpha-3);
}

.products__hover-compare {
	font-size: 13px;
	line-height: 18px;
	letter-spacing: 0.1em;
	opacity: 0.5;
}

.products__hover-compare:hover {
	opacity: 1;
}

.products__hover-compare:active {
	opacity: 0.2;
}

/* Пагинация */

.pagination {
	background-color: #ebebeb;
	font-family: "Gilroy";
	font-weight: 800;
	font-size: 16px;
	line-height: 20px;
	letter-spacing: 0.1em;
	text-transform: uppercase;

	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;

	margin-top: 40px;
	margin-bottom: 78px;
	margin-left: 70px;
}

.pagination__list {
	width: 85px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.pagination__list a[href] {
	opacity: 0.3;
}

.pagination__btn {
	cursor: pointer;

	padding-top: 25px;
	padding-bottom: 25px;
	padding-left: 30px;
	padding-right: 30px;
}

.pagination__btn:hover {
	background-color: #d9d9d9;
}

.pagination__btn:active {
	color: var(--black-alpha-3);
}

.pagination__item a[href]:hover {
	opacity: 0.6;
}

.pagination__item a[href]:active {
	opacity: 1;
}

/* Footer */

.page-footer .exit {
	opacity: 0.3;
}

.page-footer .exit:hover {
	opacity: 0.7;
}

.page-footer .exit:active {
	opacity: 1;
}
